/* Desktop view */
.carder .statbar {
    min-height: 90px;
}

.carder,
.carder-browser-wrap {
    width: 900px;
    max-width: 900px;
    height: 100%;
}

.carder .statbar {
    height: 15vh;
    max-height: 90px;
}

.carder .statbar .staticon {
    width: 15vh;
    height: 15vh;
    max-width: 90px;
    max-height: 90px;
}
