/* Landscape view */
@media all and (orientation:landscape) and (max-width:800px) {
    /* Game view */
    .carder,
    .carder-browser-wrap {
	width: 100%;
	height: 100%;
    }

    .carder .statbar {
	height: 15vh;
	min-height: 15vh;
    }

    .carder .banner .meter,
    .carder .statbar .staticon {
	width: 15vh;
	height: 15vh;
    }
}
