/* Colors, plain theme */
.plain.carder-page {
    background-color: gray;
}

.plain .carder {
    background-color: #f8f8f8;
    color: black;
}

.plain .carder svg {
    fill: black;
}

.plain .carder {
    background-color: black;
}

.plain .carder .statbar .statlabel {
    background-color: rgba(0,0,0,.5);
    color: white;
}

/* Meters */
.plain .carder .meter .icon.empty svg {
    fill: gray;
    opacity: .2;
}

.plain .carder .meter .icon.full svg {
    fill: yellow;
}

.plain .carder .cardtable {
    background-color: darkgreen;  /* old browsers */
    background: linear-gradient(-45deg, #107400 0%,#006400 28%,#004400 100%);
    background: -webkit-linear-gradient(-45deg, #107400 0%,#006400 28%,#004400 100%);
    background: -moz-linear-gradient(-45deg, #107400 0%,#006400 28%,#004400 100%);
    box-shadow: 2px 2px 1px 1px #003200;
}

.plain .carder .preview {
    color: white;
}
