/* Portrait view */
@media all and (orientation:portrait) and (max-device-width:800px) {
    .carder,
    .carder-browser-wrap {
	width: 100%;
	max-width: 100%;
    }

    .carder .statbar {
	height: 15vw;
	min-height: 15vw;
    }

    .carder .banner .meter,
    .carder .statbar .staticon {
	width: 15vw;
	height: 15vw;
    }
}
